div.awesomplete[id^="awesomplete_container"] > ul {
    background: #404040 !important;
    background: linear-gradient(to bottom right, hsla(195, 3%, 28%, 0.97), #404040) !important;
}

/* Pointer */
div.awesomplete[id^="awesomplete_container"] > div.awesomplete_pointer {
    background: #404040 !important;
    background: linear-gradient(135deg, hsla(195, 3%, 28%, 0.97) 52%, hsla(0, 0%, 6%, 0) 52%) !important;
}

div.awesomplete[id^="awesomplete_container"] > ul > li {
    color: white !important;
    border-color: #232323 !important;
}

div.awesomplete[id^="awesomplete_container"] > ul > li:hover {
    background: hsl(204, 11%, 18%) !important;
    color: white !important;
}

div.awesomplete[id^="awesomplete_container"] > ul > li[aria-selected="true"] {
    background: hsl(206, 40%, 24%) !important;
    color: white !important;
}

div.awesomplete[id^="awesomplete_container"] mark {
    background: hsl(64, 100%, 25%) !important;
    color: white !important;
}

div.awesomplete[id^="awesomplete_container"] li:hover mark {
    background: hsl(62, 100%, 19%) !important;
}

div.awesomplete[id^="awesomplete_container"] li[aria-selected="true"] mark {
    background: hsl(78, 100%, 18%) !important;
    color: inherit !important;
}
