div.awesomplete > ul {
    background: #ffffff !important;
    background: hsla(0, 0%, 100%, .9) !important;
    background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, .8)) !important;
}

/* Pointer */
div.awesomplete > ul:before {
    background: white !important;
}

div.awesomplete > ul > li {
    color: black !important;
    border-color: #ccd6d8 !important;
}

div.awesomplete > ul > li:hover {
    background: hsl(200, 40%, 80%) !important;
    color: black !important;
}

div.awesomplete > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%) !important;
    color: black !important;
}

div.awesomplete mark {
    background: hsl(65, 100%, 50%) !important;
    color: black !important;
}

div.awesomplete li:hover mark {
    background: hsl(68, 100%, 41%) !important;
}

div.awesomplete li[aria-selected="true"] mark {
    background: hsl(86, 100%, 21%) !important;
    color: inherit !important;
}
