#dcj_widget_search_form .awesomplete > ul {
    background: #0e0e0e;
    background: linear-gradient(to bottom right, hsla(0, 0%, 6%, 0.97), #0e0e0e);
}

/* Pointer */
#dcj_widget_search_form .awesomplete > ul:before {
    background: hsla(0, 0%, 6%, 0.9);
    background: linear-gradient(135deg, hsla(0, 0%, 6%, 0.9) 52%, hsla(0, 0%, 6%, 0) 52%);
}

#dcj_widget_search_form .awesomplete > ul > li {
    color: white;
    border-color: #404040;
}

#dcj_widget_search_form .awesomplete > ul > li:hover {
    background: hsl(205, 10%, 23%);
    color: white;
}

#dcj_widget_search_form .awesomplete > ul > li[aria-selected="true"] {
    background: hsl(206, 40%, 24%);
    color: white;
}

#dcj_widget_search_form .awesomplete mark {
    background: hsl(65, 100%, 17%);
    color: white;
}

#dcj_widget_search_form .awesomplete li:hover mark {
    background: hsl(66, 100%, 15%);
}

#dcj_widget_search_form .awesomplete li[aria-selected="true"] mark {
    background: hsl(73, 100%, 15%);
    color: inherit;
}